.cell{
  flex-grow: .15;
  width: 10px;
  height: 15px;
  border-radius: 0px;
  margin-right: 3px;
  margin-left: 3px;
}

.cell-enabled-1 {
  background-color: #12EAB2;
}

.cell-enabled-2 {
  background-color: #0FC697;
}

.cell-enabled-3 {
  background-color: #0DA77F;
}

.cell-enabled-4 {
  background-color: #0B8D6C;
}

.cell-enabled-5 {
  background-color: #065441;
}

.cell-disabled {
  background-color: #C4C4C4;
}

.time-label {
  width: 80px;
  text-align: left;    
}

.selector-content{
  margin: 15px;
  height: 410px;
}

.daylabel{
  flex-grow: .15;
  width: 10px;
  height: 15px;
  border-radius: 0px;
  text-align: center;
}