.day-enabled, .day-disabled {
    background-color: #C4C4C4;
    flex-grow: 1;
    width: 100%;
    margin-top: 10px;
    height: 270px;
    border-radius: 7px;
}

.day-enabled {
  background-color: #0FC697;
}

.day-of-week {
    text-align: center;
    display: block;
    font-family: Helvetica Neue;
    margin-top: 5px;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 33px;
}