#ui-container {
    position: relative;
    background-color: #EFEFEF;
    border-radius: 20px;
    padding-bottom: 10px;
}

h1 {
    font-family: Helvetica Neue;
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    line-height: 33px;
}

#meeting-title-header {
    font-family: Helvetica Neue;
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
}

#time-input {
    display: flex;
    flex-direction: row;
    align-items: stretch;
}

#time-input label {
    margin-right: 10px;
}

#time-input input {
    width: 100%;
    flex-grow: 1;
}

input[type="time"] {
    width: auto;
}

#select-day {
    display: flex;
    flex-direction: column;
}

#select-day button {
    flex-grow: 1;
    width: auto;
    height: 246px;
    background-color: #C4C4C4;
    opacity: 0.6;
    transition: 0.3s;
    border-radius: 7px;
}

#select-day button:hover {
    opacity: 1;
}

#day-of-week {
    text-align: center;
    display: block;
    font-family: Helvetica Neue;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 33px;
}